[Desktop Entry]
Name=FinalCall
Comment=Work-life balance reminder app
Exec=finalcall
Icon=finalcall
Terminal=false
Type=Application
Categories=Office;Productivity;
StartupNotify=true
